@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300);

body {
  background: -webkit-radial-gradient(#323232, #151515) no-repeat;
  background: radial-gradient(#323232, #151515) no-repeat;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
}

h1, h2{
  text-align: center;
  padding: 10px;
  margin: 10px;
}

.main {
  text-align: center;
  border-radius: 50px;
  height: 80px;
  line-height: 80px;
  font-size: 35px;
  border: 3px solid #FF4291;
  cursor: pointer;
  color: rgb(210, 247, 255);
  transition: background-color 0.7s ease, text-shadow 0.7s ease;
  -webkit-user-select: none;
}

.main:hover {
  background-color: rgba(48, 48, 48, 0.58);
  text-shadow: 0 0 7px rgba(55, 209, 255, 0.76);
}

.note {
  font-style: italic;
  text-align: center;
  font-size: 23px;
  margin: 0;
}

.link {
  height: 40px;
  width: 369px;
  border: none;
  color: white;
  line-height: 40px;
  text-align: center;
  margin: 10px;
  padding: 10px;
  font-size: 30px;
  border-radius: 50px;
}
.purple {
  background: rgb(156, 0, 243);
  border-bottom: 3px solid rgb(114, 0, 177);
  transition: background .4s ease;
  -webkit-transition: background .4s ease;
}
.purple:hover {
  background: rgb(142, 0, 221);
  transition: background .4s ease;
  -webkit-transition: background .4s ease;
}
.purple:active{
  background: rgb(114, 0, 177);
  transition: background .4s ease;
  -webkit-transition: background .4s ease;
}
.pink {
  background: rgb(255, 55, 231);
  border-bottom: 3px solid rgb(223, 0, 196);
  transition: background .4s ease;
  -webkit-transition: background .4s ease;
}
.pink:hover {
  background: rgb(247, 22, 220);
  transition: background .4s ease;
  -webkit-transition: background .4s ease;
}
.pink:active{
  background: rgb(223, 0, 196);
  transition: background .4s ease;
  -webkit-transition: background .4s ease;
}
.blue {
  background: rgb(14, 123, 241);
  border-bottom: 3px solid rgb(0, 89, 185);
  transition: background .4s ease;
  -webkit-transition: background .4s ease;
}
.blue:hover {
  background: rgb(10, 109, 218);
  transition: background .4s ease;
  -webkit-transition: background .4s ease;
}
.blue:active{
  background: rgb(0, 89, 185);
  transition: background .4s ease;
  -webkit-transition: background .4s ease;
}
.red {
  background: rgb(255, 31, 111);
  border-bottom: 3px solid rgb(230, 0, 82);
  transition: background .4s ease;
  -webkit-transition: background .4s ease;
}
.red:hover {
  background: rgb(245, 0, 87);
  transition: background .4s ease;
  -webkit-transition: background .4s ease;
}
.red:active {
  background: rgb(221, 0, 78);
  transition: background .4s ease;
  -webkit-transition: background .4s ease;
}
.green {
  background: rgb(15, 255, 120);
  border-bottom: 3px solid rgb(0, 185, 81);
  transition: background .4s ease;
  -webkit-transition: background .4s ease;
}
.green:hover {
  background: rgb(0, 214, 92);
}
.green:active{
  background: rgb(0, 207, 91);
  transition: background .4s ease;
  -webkit-transition: background .4s ease;
}
.align{
  margin: 0 auto;
  width: 400px;
}
a{
  color: inherit;
  text-decoration: none;
}


