@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300);

body {
  background: -webkit-linear-gradient(#BBF8A8, #A2DF37) no-repeat;
  font-family: 'Source Sans Pro', sans-serif;
}

h1, h2{
  text-align: center;
  padding: 10px;
  margin: 10px;
}

.link {
  height: 50px;
  width: 300px;
  border: none;
  color: white;
  line-height: 50px;
  text-align: center;
  margin: 10px;
  padding: 10px;
  font-size: 35px;
}
.purple {
  background: rgb(156, 0, 243);
  border-bottom: 3px solid rgb(114, 0, 177);
}
.pink {
  background: rgb(255, 55, 231);
  border-bottom: 3px solid rgb(223, 0, 196);
}
.blue {
  background: rgb(14, 123, 241);
  border-bottom: 3px solid rgb(0, 89, 185);
}
.align{
  margin: 0 auto;
  width: 300px;
}
a{
  color: inherit;
  text-decoration: none;
}
