@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300);

body {
  background: -webkit-linear-gradient(#BBF8A8, #A2DF37) no-repeat;
  font-family: 'Source Sans Pro', sans-serif;
}

h1, h2{
  text-align: center;
  padding: 10px;
  margin: 10px;
}

.link{
  height: 50px;
  width: 300px;
  border: none;
  border-bottom: 2px solid #fff;
}
.purple{
  background: purple;
}
.pink{
  background: pink;
}
.green{
  background: green;
}
